<!DOCTYPE HTML>
<!--
  Miniport by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  {% include "core/head.html" %}
  <body id="page-top">
    <div id="wrapper">
        {% if user.is_authenticated %}
          {% include "core/navbar.html" %}
        {% endif %}
        {% block content_page %}
        {% endblock %}
        {% include "core/footer.html" %}
      </div>
    </div>
    {% include "core/scripts.html" %}
    {% block extra_scripts %}
    {% endblock %}
  </body>
</html>