<footer class="sticky-footer bg-white">
  <div class="container mt-5">
    <div class="copyright text-center">
      <span>Copyright &copy; <script> document.write(new Date().getFullYear()); </script> Legal Office UAL</span>
    </div>
  </div>
</footer>