{% load static %}
<head>
  <title>Legal Office UAL</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/font-awesome.min.css' %}" />
</head>