{% extends 'core/base.html' %}
{% load static socialaccount %}

{% block content_page %}
<div class="container-fluid mt-3" id="legal-office-app">
  <div class="row">
    <div class="col-lg-6 mx-auto text-center">
      <h6>Bienvenido!</h6>
      <p>Esta es la web del gabinete jurídico de la Universidad de Almería.</p>
      <p>Por favor inicia sesión con tu cuenta de google.</p>
      <a class="btn btn-outline-primary" href="{% provider_login_url 'google' %}" role="button">
        <i class="fab fa-google"></i>
        Iniciar Sesión
      </a>
    </div>
  </div>
</div>
{% endblock %}