<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-home"></i></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      Bienvenido, {{ user.first_name }}
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Desconectarse</a>
    </li>
  </ul>
</nav>