{% load static %}
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/popper.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/vue.min.js' %}"></script>
<script src="{% static 'core/js/index.js' %}"></script>