{% extends 'core/base.html' %}
{% load static %}

{% block content_page %}
<div class="container-fluid mt-3" id="legal-office-app">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="js-notifications"></div>
      <form class="form-inline mb-3">
        <div class="form-group mr-2">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" v-model="searchText">
        </div>
        <div class="form-group mr-2">
          <label for="process_type">Tipo</label>
          <select class="form-control" v-model="searchType">
            <option></option>
            <option value="0">Demanda Judicial</option>
            <option value="1">Recurso</option>
            <option value="2">Regulación</option>
            <option value="3">Reporte</option>
          </select>
        </div>
        <div class="form-group mr-2">
          <label for="process_type">Estado</label>
          <select class="form-control" name="status" v-model="searchStatus">
            <option></option>
            <option value="0" >Abierta</option>
            <option value="1">Pendiente de revisión</option>
            <option value="2">Cerrada</option>
          </select>
        </div>
        <button type="button" class="btn btn-outline-primary rounded-circle" data-toggle="modal" data-target="#newProcess">
          <i class="fas fa-plus"></i>
        </button>
      </form>
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th>Título</th>
            <th>Fecha de Expedición</th>
            <th>Fecha de Vencimiento</th>
            <th>Tipo</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="process in search(processes)">
            <td><a :href="'/process/'+ process.id + '/'"><% process.title %></a></td>
            <td>
              <span class="badge badge-info">
                <% process.receive_date | formatDate %>
              </span>
            </td>
            <td>
              <span class="badge badge-info">
                <% process.expiration_date | formatDate %>
              </span>
            </td>
            <td>
              <span class="badge badge-light"><% process.process_type_display %></span>
            </td>
            <td>
              <span class="badge badge-success" v-if="process.status == 0">
                <% process.status_display %>
              </span>
              <span class="badge badge-info" v-if="process.status == 1">
                <% process.status_display %>
              </span>
              <span class="badge badge-secondary" v-if="process.status == 2">
                <% process.status_display %>
              </span>
            </td>
          </tr>
          <tr v-show="!processes.length">
            <td colspan="4">
              No hay datos para mostrar 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% include "processes/new_process_modal.html" %}
</div>

{% endblock %}

{% block extra_scripts %}
  <input type="hidden" class="js-api-url" value="{% url 'process-list' %}">
  <script src="{% static 'processes/main.js' %}"></script>
{% endblock %}