{% extends 'core/base.html' %}
{% load static %}

{% block content_page %}
<div class="container-fluid mt-3" id="details-app">
  <div class="row justify-content-center" v-if="process">
    <div class="col-lg-10">
      <div class="js-notifications"></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><% process.process_type_display %></li>
          <li class="breadcrumb-item active"><% process.title %></li>
          <li class="ml-auto">
            <button type="button" class="btn btn-sm btn-outline-info rounded-circle" data-toggle="modal" data-target="#editProcess">
              <i class="fas fa-edit"></i>
            </button>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center" v-if="process">
    <div class="col-lg-7 border-right">
      <p><% process.description %></p>
    </div>
    <div class="col-lg-3">
      <span class="badge badge-success" v-if="process.status == 0">
        <% process.status_display %>
      </span>
      <span class="badge badge-info" v-if="process.status == 1">
        <% process.status_display %>
      </span>
      <span class="badge badge-secondary" v-if="process.status == 2">
        <% process.status_display %>
      </span>
      <hr>
      <p>Fecha de Expedición: 
        <span class="badge badge-info"><% process.receive_date | formatDate %></span>
      </p>
      <hr>
      <p>Fecha de Vencimiento:
        <span class="badge badge-info"><% process.expiration_date | formatDate %></span>
      </p>
      <hr>
      <p>Creado por:</p>
      <p><% process.created_by.first_name %> <% process.created_by.last_name %> <% process.created_by.email %></p>
    </div>
  </div>
  <hr class="col-lg-10">
  <div class="row justify-content-center" v-if="process">
    <div class="col-lg-5 border-right">
      <h5 class="font-weight-bold">
        Documentos 
        <button type="button" class="btn btn-sm btn-outline-info rounded-circle" data-toggle="modal" data-target="#newDocument">
          <i class="fas fa-plus"></i>
        </button>
      </h5>
      <div v-for="document in process.documents">
        <a :href="document.attachment" alt="document" target="_blank">
          <i class="far fa-file-alt"></i> <% document.filename %>
        </a>
        <span class="badge badge-info float-right"><% document.created | formatDate %></span>
      </div>
    </div>
    <div class="col-lg-5">
      <h5 class="font-weight-bold">
        Notas 
        <button type="button" class="btn btn-sm btn-outline-info rounded-circle" data-toggle="modal" data-target="#newNote">
          <i class="fas fa-plus"></i>
        </button>
      </h5>
      <div v-for="note in process.notes">
        <% note.comment %>
        <span class="badge badge-info float-right"><% note.created | formatDate %></span>
      </div>
    </div>
  </div>
  {% include "processes/new_document_modal.html" %}
  {% include "processes/new_note_modal.html" %}
  {% include "processes/edit_process_modal.html" %}
</div>
{% endblock %}

{% block extra_scripts %}
  <input type="hidden" class="js-api-url" value="{{ api_url }}">
  <script src="{% static 'processes/details.js' %}"></script>
{% endblock %}