<!-- Modal -->
<div class="modal fade" id="newProcess" tabindex="-1" role="dialog" aria-labelledby="newProcessModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProcessModal">Nuevo Proceso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="js-new-process" action="{% url 'process-list' %}" method="POST" v-on:submit.prevent="newProcess">
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" value="{{ user.pk }}" name="created_by">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="title">Título</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Título" required>
            </div>
            <div class="form-group col-md-6">
              <label for="process_type">Tipo</label>
              <select class="form-control" id="process_type" name="process_type" required>
                <option></option>
                <option value="0">Demanda Judicial</option>
                <option value="1">Recurso</option>
                <option value="2">Regulación</option>
                <option value="3">Reporte</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="receive_date">Fecha de Entrada</label>
              <input class="form-control" type="date" placeholder="Fecha de Entrada" id="receive_date" name="receive_date" required>
            </div>
            <div class="form-group col-md-6">
              <label for="expiration_date">Fecha de Vencimiento</label>
              <input class="form-control" type="date" placeholder="Fecha de Expedición" id="expiration_date" name="expiration_date" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>