<!-- Modal -->
<div class="modal fade" id="newDocument" tabindex="-1" role="dialog" aria-labelledby="newDocumentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDocumentModal">Nuevo Documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'process-add-document' process_id %}" method="POST" v-on:submit.prevent="newDocument">
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="process" value="{{ process_id }}">
          <div class="form-group">
            <input type="file" class="form-control-file" name="attachment">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>