<!-- Modal -->
<div class="modal fade" id="newNote" tabindex="-1" role="dialog" aria-labelledby="newNoteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newNoteModal">Nuevo Nota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'process-add-note' process_id %}" method="POST" v-on:submit.prevent="ajaxSubmit">
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="process" value="{{ process_id }}">
          <div class="form-group">
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>